p {
/* cONTENT - wIDTH AND hEIGHT */
width: 50%;
/* Border */
border: 2px solid blue;
/* Padding */
/* padding: 10px; */
padding-left: 40px;

/* Margin */
/* margin: 0 auto 0 auto; */
margin: 0 auto;
}

