/* Element */
li {

}
/* class */
.hello {

}
/* id */
#name {

}
/* Star - this does allllll the selectors */ 
* {

}
/* Descendant Selector Works with two or more selectors. 
example, find the li selector and an anchor selector and apply
 the change just to it no other anchor tag*/
li a {
    color: red;
}

/* Adjacent Selector Select elements that come after sibling connecting*/
h4 + ul {
    border: 4px solid red;
}

/* Attribute Selector select elements based of an element. like a href inside an anchor tag*/
a[href="http://www.google.com"] {
    background: blue;
}

/* or another example is to make a specifc input text a different style */
input[type="text"] {
    background: red;
}

/* nth of type: takes a number i.e 5th div or final tag (final ul)*/
ul:nth-of-type(3) {
    background: purple;
}  

/* This will select every second li */
li:nth-of-type(even) {
    background: purple;
}  